$primary-color: red;
$text-color: white;

.movies {
    width: 90%;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    
    .film-box {
        box-sizing:border-box;
        box-shadow: 0 0 10px $primary-color;
        width: 310px;
        height: 390px;
        padding: 15px;
        cursor: pointer;
        transition: all 1s ease;
        color: $text-color;
        text-decoration: none;

        &:hover{
            box-shadow: 0 0 15px wheat;
        }

        img {
            display: block;
            justify-self: center;
            width: 285px;
            height: 155px;
            overflow: hidden;
            box-shadow:none;
        }
    }
}
