@use "./scss/MainVariables.scss";


:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: MainVariables.$background-color;
    color: MainVariables.$text-color;
    
}
